body {
    font-family: 'Rosario';
    padding: 0;
    margin: 0;
}

.sec-logo {
    width: 100%;
    height: 70px;
}

a.nav-link.text-light.font-weight-bold {
    font-family: 'Rosario';

}

.sec-bg-2 {
    background-color: #000000;
}

.sec-bg-3 {
    background-image: url(../images/ds1.png);
    background-repeat: no-repeat;
    background-position: top 0px right 0px;


}

.sec-Gallery {
    font-family: 'Lobster';
    font-size: 50px;
    color: #000000;
}
.sec-Gallery6 {
    font-family: 'Lobster';
    font-size: 50px;
    color: #000000;
}

.sec-bg-4 {
    background-image: url(../images/ds2.png);
    background-repeat: no-repeat;
    background-position: top 0px 0px;

}

.sec-Gallery2 {
    font-family: 'Rosario';
    font-size: 50px;
    color: #000000;
}
    /* g slider */
.images-box {
    width: 100%;
    height: 500px !important;
    padding: 20px;
    overflow: hidden;
    position: relative;
}


.slider-box {
    height: 100%;
    display: flex;
    gap: 10px;
    padding: 20px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
}
input[type="range"]{
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    margin-top: 20px;
    max-width: 1115px;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    background: url('https://user-images.githubusercontent.com/72601463/191414221-f3515a33-327c-4fee-a445-7498257ec050.png');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center;
    height: 0.5rem;
  }
  input[type="range"]::-moz-range-track {
    background: url('https://user-images.githubusercontent.com/72601463/191414221-f3515a33-327c-4fee-a445-7498257ec050.png');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center;
    height: 0.5rem;
  }
  
  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #fff;
    border: 4px solid #998440;
    border-radius: 0;
    transform: rotate(45deg);
    box-shaodow: none !important;
  }
  input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    background: #fff;
    border: 4px solid #998440;
    border-radius: 0;
    transform: rotate(45deg);
    box-shaodow: none !important;
  }
  
  input[type="range"]::-webkit-slider-thumb:focus, input[type="range"]::-webkit-slider-thumb:active{
    box-shadow: none;
    background: white;
  }
   /* g slider */

.sec-bg-5 {
    background-image: url(../images/Group\ 50.png);
    background-repeat: no-repeat;
    background-size: cover;
    

}

.sec-bg-6 {
    background-image: url(../images/design\ 3.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: top 0px 0px;

}
.bg-sec{
    background-image: url(../images/image\ 20\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 500px !important;
}
.sec-Gallery3 {
    font-family: 'Rosario';
    font-size: 45px;
    color: #000000;
    padding-left: 80px !important;
}
.sec-Gallery31 {
    font-family: 'Rosario';
    font-size: 45px;
    color: #000000;
}
.sec-pad{
    padding-bottom: 60px !important;
    margin-top: 110px;
}
.sec-Gallery4 {
    font-family: 'Rosario';
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    padding-left: 120px !important;
    padding-top: 30px;
    padding-right: 80px;
}
.sec-Gallery41 {
    font-family: 'Rosario';
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    padding-top: 30px;
    padding-right: 80px;
}
.but-get{
    background-color: #998440 !important;
    color: #ffffff !important;
    padding: 10px 30px !important;
  
}
.but-get2{
    background-color: #998440 !important;
    color: #ffffff !important;
    padding: 10px 30px !important;
    margin-left: 85px
  
}

.but-get:hover{
    background-color: #dac275 !important;
    color: #b9b3b3;
    text-decoration: none !important;
}
.but-get2:hover{
    background-color: #dac275 !important;
    color: #b9b3b3;
    text-decoration: none !important;
}
.sec-bg-7 {
    background-image: url(../images/Group\ 52.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.sec-Gallery5 {
    font-family: 'Rosario';
    font-size: 45px;
    font-weight: 700;
    color: #000000;
}
.slider-sec-text{
    font-family: 'Rosario';
    font-size: 25px;
    font-weight: 400;
    color: #000000;
}
.sec-bg-51 {
    background-color: #f2efe6;
}

.sec-bg-52 {
    background-color: #000;
    border-top: 1px solid #dac275;
   
}
.sec-foot p, h2{
    font-family: 'Lora' !important;
}
.sec-icon{
    font-size: 22px;
}
.sec-welp{
    font-size: 30px !important;
}
.sec-welp2{
    font-size: 18px !important;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    border: 5px solid #998440;
    border-radius: 0;
    transform: rotate(45deg);
    box-shadow: none !important;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.50rem;
}
.sec-min{
    min-height: 404px;
    margin-right: 10% !important;
}
.sec-icon {
    font-size: 25px;
    float: right;
}
.reviews{
    color:#feac32 ;
}
/* review */
#person-img {
    position: relative;
   width: 10%;
   height: 50%;
   border-radius: 50%;
   margin-top: 15px;
   margin-bottom: 12px;
   z-index: 2;
   box-shadow: 5px -5px #998440;
}


.button.btn.sec-menu-btn.my-2.my-sm-0  {
    color: #f9d71c !important;
}


@media (max-width: 767px) {
    .sec-Gallery3 {
        font-family: 'Rosario';
        font-size: 25px;
        color: #000000;
        padding-left: 50px !important;
    }
    
    .sec-Gallery31 {
        font-family: 'Rosario';
        font-size: 25px;
        color: #000000;
    }
    .sec-Gallery {
        font-size: 25px;
    }
    .sec-Gallery6 {
        font-size: 25px;
        padding-top: 20px;
    }
    .sec-welp{
        padding: 20px !important;
        font-size: 20px !important;
    }
    .sec-Gallery4 {
        font-size: 18px;
        padding-left: 70px !important;
        padding-top: 30px;
        padding-right: 80px;
        padding-bottom: 0px !important;
    }
    .sec-Gallery2 {
        font-size: 35px;
    }
    .sec-pad{
        padding-bottom: 30px !important;
        margin-top: 30px !important;
    }
    
    .sec-f-p{
        padding: 20px !important;
      
    }
    .sec-Gallery5 {
        font-size: 35px;
    }
    .sec-f-p2{
        padding: 8px !important;
    }
    .slider-sec-text{
        font-size: 15px;
    }
}
/* ---------------------------------about-page------------------------ */
.sec-abo-h{
    font-family: 'Rosario';
    font-size: 80px;
    font-weight: 700;
    color: #000000;
}


/* ------------------------gallery-page--------------- */
.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
    
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 767px) {
    body {
        padding: 0;
    }
    .sec-abo-h{
        font-family: 'Rosario';
        font-size: 40px;
        font-weight: 700;
        color: #000000;
    }
}

/* -------------franchise-page---------------- */
.sec-bg-3 {
    background-image: url(../images/design\ 6.png);
    background-repeat: no-repeat;
    background-position: top 0px left 0px;


}
.sec-Gallery7 {
    font-family: 'Lobster';
    font-size: 35px;
    color: #000000;
}
hr.sce-hr-f {
    background: #000;
    height: 3px;
    width: 11%;
}
.sec-p-f{
    font-size: 20px;
}
.sec-f-bg{
    background-image: url(../images/pngwing\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-bord{
    border: 4px solid #B99B39;
}
.sec-p-f1{
    font-size: 20px;
    padding: 1px 120px !important;
}
.sec-f-bg1{
    background-image: url(../images/Group\ 99.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-Gallery8 {
    font-family: 'Lobster';
    font-size: 40px;
    text-align: center;
    color: #ffffff;
}
.sec-Gallery9 {
    font-size: 25px;
    text-align: center;
    color: #000000;
}
input.form-control {
    background-color: transparent;
    border: 3px solid #fff;
    padding: 20px;
    color: #fff;
    border-radius: 0;
}
select#inputState {
    background: transparent;
    border-radius: 0px !important;
    border: 3px solid #fff;
    font-size: 20px;
    color: #fff;
}
option{
    color: #000 !important;
}
::placeholder {
    color: #fff !important;
    font-size: 20px !important
  }
  textarea.form-control {
    background-color: transparent;
    border: 3px solid #fff;
    padding: 20px;
    border-radius: 0;
}
.btn-sec{
    background-color: #000;
    color: #fff;
    font-size: 25px;
    border-radius:0px ;
    border: 2px solid #FFF;
    padding: 20px 60px;
}
.btn-sec:hover{
    background-color: #fff;
    color: #000;
    font-size: 25px;
    font-weight: 700;
    border-radius:0px ;
    padding: 20px 60px;
}
.sec-f-bg2{
    background-image: url(../images/Group\ 100.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-f-bg3{
    background-image: url(../images/r144.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8%;
    padding-bottom: 10%;
}
@media(max-width: 767px) {
  
    .sec-p-f1{
        font-size: 20px;
        padding: 1px 20px !important;
    }
    .sec-sal{
        padding: 10px !important;
    }
    .sec-f-bg{
        width: 100% ;
        height: 350px;
    }
}
/* ------------------------services-page---------------- */
.btn-orange {
    color: #ffffff!important;
    background-color: #B99B39!important;
    border-color: #B99B39!important;
}
.text-orange {
    color: #B99B39;
}
.Sec-but {
    color: #ffffff !important;
    background-color: #B99B39 !important;
    font-weight: bold !important;
    font-size: 17px !important;
    border: 1px solid#B99B39 !important;
    border-radius: 6px;
    font-weight: 400 !important;
    text-transform: uppercase;
}
/* --------------------Contact-page-------------- */
.icon {
    padding-top: 20px;
    font-size: 40px;
}

/* --------Academy-page----------------- */
.sec-acd-bg{
    background-image: url(../images/Rectangle\ 141.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-Gallery81 {
    font-family: 'Rosario';
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}